body {
    padding: 0;
    margin: 0;
    background-color: #E2E1DF;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

a:link {
    color: #CEDFE7;
}


/* article {
    /* find out how to make just background opacity
    background-image: url(imag/text-bg.png);
    padding: 20px;
} */


/*
color: #B69344 yellow
color: #E2E1DF light
color: #554E4C dark grey
color: #241C14 dark brown
color: #CEDFE7 light blue
color: #B5CBDA medium blue 1
color: #759ABD dark blue
color: #8AB0C4 medium blue 2
color: #314B60 navy
*/


/* Nav Bar Start*/

nav {
    background-color: #B5CBDA;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
}

nav a:link {
    color: #B69344;
}

nav a:visited {
    color: #B69344;
}

nav a:hover {
    color: #241C14;
}


/* Nav Bar End*/


/* Review Cards Start */

.card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}

.review {
    color: #CEDFE7;
    background-color: #314B60;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 20%;
    font-size: 24px;
    background-image: url("imag/black-board.jpg");
    background-size: cover;
}

.review span {
    font-style: italic;
    font-size: 20px;
}


/* Review Cards End */


/* Link Cards Start */

.link-container {
    background-color: #8AB0C4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.links {
    color: #CEDFE7;
    background-color: #314B60;
    padding: 15px;
    margin: 15px;
    text-align: left;
    width: 75%;
}


/* Link Cards End */


/* Top Navigation */

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.navigation a {
    font-size: 25px;
    font-weight: 300;
}

.navigation li {
    padding: 8px;
    width: 200px;
    text-align: center;
    border: 2px solid #333;
}

nav .menu-label {
    display: none;
}

nav .toggle {
    display: none;
}

header {
    /* background-color: aqua; */
}

.nav-image {
    height: 100px;
    width: auto;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.book-image {
    position: absolute;
    width: 300px;
    left: 150px;
    bottom: 60px;
}

.book-section {
    position: relative;
    margin: 300px 0 250px 0;
}

.book-description {
    color: #241C14;
    font-size: 20px;
    margin-left: 350px;
    width: 450px;
    padding: 70px;
    position: relative;
}


/* https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */

.book-description:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url(imag/text-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -2;
}

.section-testimony {
    background-color: #8AB0C4;
    padding: 20px 0;
}


/*https://www.w3schools.com/howto/howto_css_image_center.asp*/

.author-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.author-bio {
    margin: 3% 18% 8%;
    padding: auto;
    align-items: center;
}


/*add new css just for big 5 pages? messing up nav link colors*/

.big5-description {
    margin: 18%;
    padding: auto;
    align-items: center;
}

div a:link {
    color: #CEDFE7;
}

div a:visited {
    color: #CEDFE7;
}

div a:hover {
    color: #B69344;
}

footer {
    padding: 50px;
    position: relative;
    font-size: 20px;
}

footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url(/imag/texture-1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -2;
}

footer p {}


/*form from https://codepen.io/Ranjith_/details/abwzrxN*/

h2::selection,
label::selection,
button::selection {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper2 {
    width: 90%;
    padding: 2rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

.h2-form {
    background: rgba(173, 216, 230, 0.7);
    letter-spacing: 0.1rem;
    padding: 1rem;
    cursor: default;
}

form,
input,
textarea,
button {
    font-family: inherit;
    font-size: initial;
}

.form-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    height: 4.6rem;
}

.form-group textarea {
    resize: vertical;
}

.submit {
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    background: rgba(173, 216, 230, 0.7);
    cursor: pointer;
    transition: background 0.15s;
}

i {
    margin-right: 0.5rem;
}

.submit:hover {
    background: rgba(173, 216, 230, 1);
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #222;
}


/*
@media screen and (min-width: 576px) {
    .wrapper {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 55%;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 35%;
    }
}
*/


/* Medium devices (landscape tablets, 600px and down) */

@media only screen and (max-width: 600px) {
    nav {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .show-items {
        display: flex;
    }
    nav .toggle {
        align-self: flex-end;
        position: absolute;
        cursor: pointer;
    }
}