body {
    padding: 0;
    margin: 0;
    background-color: #E2E1DF;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

a:link {
    color: #314B60;
    text-decoration: none;
}

h2 {
    font-size: 1.6rem;
}


/*add something special to font if you have time*/

#h1 {
    color: #554E4C;
    margin-left: 15%;
}


/*
color: #B69344 yellow
color: #E2E1DF light
color: #554E4C dark grey
color: #241C14 dark brown
color: #CEDFE7 light blue
color: #B5CBDA medium blue 1
color: #759ABD dark blue
color: #8AB0C4 medium blue 2
color: #314B60 navy
*/


/* Review Cards Start */

.card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

.review {
    color: #CEDFE7;
    background-color: #314B60;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 20%;
    font-size: 24px;
    background-image: url("imag/black-board.jpg");
    background-size: cover;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}


/* Review Cards End */


/* START of NAV */

nav {
    background-color: #B5CBDA;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.navigation a {
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
}

li a:link {
    color: #B69344;
}

li a:visited {
    color: #B69344;
}

li a:hover {
    color: #314B60;
}

.navigation li {
    padding: 8px;
    width: 200px;
    text-align: center;
    border: none;
}

nav .menu-label {
    display: none;
}

nav .toggle {
    display: none;
}

.nav-image {
    height: 100px;
    width: auto;
}


/* END of NAV */

.wrapper {
    max-width: 1140px;
    margin: 10% auto;
}


/*START "Home page and Book page" feature, used https://www.w3schools.com/css/css_colors_rgb.asp for opacity*/

.wrapper3 {
    margin: 0;
    background-color: rgba(172, 192, 201, 0.80);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.book-image {
    width: 300px;
    height: auto;
    padding: 40px 20px;
}

.book-section {
    background-image: url(imag/text-bg.png);
    background-repeat: repeat;
    margin: 0;
}

.book-description {
    color: #241C14;
    font-size: 20px;
    width: 450px;
    padding: 20px;
}


/*END "Home page and Book page" feature*/

.section-testimony {
    background-color: #8AB0C4;
    padding: 20px 0;
    margin: 40px 0px;
}


/*https://www.w3schools.com/howto/howto_css_image_center.asp*/

.author-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.author-bio {
    margin: 3% 18% 8%;
    padding: auto;
    /*error, fix when adjustments are made to background image*/
    align-items: center;
}


/*START of FOOTER*/

.wrapper4 {
    margin: 0;
    background-color: rgba(70, 61, 50, 0.4);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer {
    background-image: url(imag/texture-1.jpg);
    margin: 0;
}

footer p {
    color: #E2E1DF;
    font-size: 20px;
    width: 800px;
    padding: 10px;
}


/*END of FOOTER*/


/*START Button and Form*/


/*form from https://codepen.io/Ranjith_/details/abwzrxN*/

.wrapper2 {
    padding: 2rem;
    margin: 8% 16%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

.h1-form {
    color: #554E4C;
    background-color: #CEDFE7;
    letter-spacing: 0.1rem;
    padding: 1rem;
    cursor: default;
    font-size: 1.4rem;
}

form,
input,
textarea,
button {
    color: #554E4C;
    font-family: inherit;
    font-size: 1.15rem;
}

.form-group label,
fieldset {
    display: block;
    margin: 2rem 0 2rem 0;
}


/*width at 97% lines up boxes perfectly on right side, do not adjust*/

.form-group input[type="text"],
.form-group input[type="email"],
fieldset,
.form-group textarea {
    width: 97%;
    padding: .5rem 0.8rem;
    border: 1.5px solid #759ABD;
    outline: 0;
    transition: border 0.15s;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    height: 4.6rem;
}

.form-group textarea {
    resize: vertical;
}

.form-group2 {
    display: flex;
    justify-content: flex-end;
}

.button {
    font-weight: bold;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #CEDFE7;
    background-color: #CEDFE7;
    cursor: pointer;
    transition: background 0.15s;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #CEDFE7;
    border: 2px solid #759ABD;
}


/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

.checkbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

label {
    cursor: pointer;
}


/*END Button and Form*/


/*START Upcoming Workshop*/

.workshops {
    color: #314B60;
    background-color: #B5CBDA;
    padding: 5% 20%;
    margin: 10px 0px 20px;
}


/*End Upcoming Workshop*/


/*
@media screen and (min-width: 576px) {
    .wrapper {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 55%;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 35%;
    }
}
*/


/* Medium devices (landscape tablets, 600px and down) */

@media only screen and (max-width: 600px) {
    nav {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .show-items {
        display: flex;
    }
    nav .toggle {
        align-self: flex-end;
        position: absolute;
        cursor: pointer;
    }
}