body {
    background-color: #E2E1DF;
    font-family: 'Josefin Sans', sans-serif;
}

a:link {
    color: #CEDFE7;
}

article { /* find out how to make just background opacity */
    background-image: url(imag/text-bg.png);
    padding: 20px;
}

/*
color: #B69344 yellow
color: #E2E1DF light
color: #554E4C dark grey
color: #241C14 dark brown
color: #CEDFE7 light blue
color: #B5CBDA medium blue 1
color: #759ABD dark blue
color: #8AB0C4 medium blue 2
color: #314B60 navy
*/

/* Nav Bar Start*/

nav a {
    text-decoration: none; 
    padding: 10px; 
    font-weight: 200;
    grid-column: 1/5;
}
nav a:link {color: #B69344;}
nav a: :visited {color: #B69344;}
nav a:hover {color: #241C14;}

/* Nav Bar End*/

/* Review Cards Start */

.card-container {
    background-color: #8AB0C4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.review {
    color: #CEDFE7;
    background-color: #314B60;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 15%;
    background-image: url("imag/black-board.jpg");
    background-size: cover;
}
/* Review Cards End */

/* Link Cards Start */

.link-container{
    background-color: #8AB0C4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.links {
    color: #CEDFE7;
    background-color: #314B60;
    padding: 15px;
    margin: 15px;
    text-align: left;
    width: 75%;
}
/* Link Cards End */